<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Ad</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
<form th:method="post" th:action="@{/ads/create}">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="description" placeholder="description">
    <input type="text" name="tags" placeholder="tags">
  <input type="submit">
</form>
</div>

</body>
</html>

